@tailwind base;
@tailwind components;
@tailwind utilities;

.chart-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  canvas {
    width: 70% !important;
    height: 70% !important;
  }